.content {
    display: flex;

}

.Information {
    width: 50%;
    margin-right: 48px;
    
}

.about {
    margin-top: 90px;
    margin-left: 48px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
}

.aboutInfo {
    margin-left: 48px;
} 
.Rules{
    margin-left: 48px; 
    background-color: #282828;
    background: #282828;
    box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.14);
    border-radius: 9.58678px;
    height: 200px;
    padding-left: 32px;
    padding-top: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.Rules p{
    font-size: 24px;
    font-weight: 600;

}

.Rules ul{
    padding:10px;
}

.Rules li{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.sortaButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    gap: 25px;
}
.sortaButtons p{
    background: #282828;
    border-radius: 40px;
    width:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.randomText{
    margin-left: 250px;
    margin-top: 50px;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);

}

.SlotBooking{
    width: 50%;
}
.stuff {
    margin-left: 48px;
    margin-top: 90px;
}

.day {
    margin-bottom: 30px;
}

.day p {
    font-size: 28px;
    font-weight: 600;
}

.slots {
    background: #282828;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 650px;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 10px;
  }

  .slots input {
    appearance: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px 10px;
    background: #171717;
    color: #FFFFFF;
    font-size: 15px;
    width: 120px;
    height: 50px;
    margin-bottom: 20px;
    margin-right: 30px;
    border-radius: 6px;
    border-style: none;
    font-weight: 600;
    font-size: 16px;
  }

  .slots input:hover {
    background: rgb(67, 92, 116);
  }

  .slots input:checked {
    background: #65A7FFD1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0px #808080;
  }

  .slots input::before {
    content: attr(label);
    margin-right:14px;
    margin-left: 14px;
    padding-top: 10px; 
    display: inline-block;
  }

.Pagination {
    display: flex;
    margin-bottom: 10px;
}

.Pagination button {
    color: #FFFFFF;
}

.Pagination p {
    margin-left: 10px;
    margin-right: 10px;
}


.Book{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
    background-color: #2F80ED;
    width: 200px;
    margin-top: 150px;
    margin-left: 475px;
    padding-left: 10px;
    color: #FFFFFF;
    border-style: none;
    height: 50px;
    cursor: pointer;
}
.Book p {
    margin-right: 10px;
}

.Book:hover{
    background-color: #2a5388d1;
}

.TeamDetails{
    display: flex;
    margin-left: 23px;
    margin-top: 55px;
}

.Size{
    display: flex;
    flex-direction: column;
    width: 251px;
    margin-right: 40px;
    box-sizing: border-box;
    border: none;
}

.Size label {
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.Size select {
    background-color: #282828;
    color: #515151;
    border-radius: 6px;
    height:48px;    
    border: 0px solid;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
}

.Size p{
    margin-left: 10px;
}

.Name {
    display:flex;
    flex-direction: column;
    width: 251px;
    box-sizing: border-box;
}

.Name label {
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.Name input {
    background-color: #282828;
    color: #515151;
    border-radius: 6px;
    height:46px; 
    border: 0px solid;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
}

@media (max-width: 500px) {
    .content{
        display: inline;
    }
    .Information{
        width: 100%;
    }
    .SlotBooking{
        width: 100%;
    }
}

